.vscode

rag_datasets_local
hotpotqa_faiss_index
chunking_results
cleaning_reports
dataset_statistics
indexes_optimized
raw_data
rag_datasets_extracted
rag_output
indexes
.api_keys
dataset
results

__pycache__
*.pkl
